* {
  box-sizing: border-box;
}

/* Body */
body {
  background: #2d2013;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
/* End Body */

/* Container */
.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* End Container */

/* flex */
.flex {
  display: flex;
}
/* End Flex */

/* flex container items */
input,
button {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
}

input[type="text"] {
  width: 300px;
}
/* End Flex container items */

/* Search btn */
.search-btn {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* End Search btn */

/* Random btn */
.random-btn {
  cursor: pointer;
  margin-left: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* End Random btn */

/* Meals */
.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
  text-align: center;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 4px #fff solid;
  border-radius: 2px;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.meal:hover .meal-info {
  opacity: 1;
}
/* End Meals */
/* Media */
@media (max-width: 800px) {
}

@media (max-width: 700px) {
}

@media (max-width: 500px) {
  input[type="text"] {
    width: 100%;
  }
}
